{%block main %} 
<p>Main page: TODO DISPLAY ALL MESSAGES</p>
{%endblock%}

{%block nav%} 
<ul>
    <li><a href="">HOME</a></li>
    <li><a href="/post_message">ADD MESSAGE</a></li>
    <li><a href="/modify_message">MODIFY MESSAGE</a></li>
    <li><a href="/delete_message">DELETE MESSAGE</a></li>
</ul>
{%endblock%}

{%block msgs%}

{%for msg in msg_list%}
    <p>Post Owner: {{msg['username']}} | Message Content: {{msg['message']}} | Sent at: {{msg['timestamp']}} | ID: {{msg['message_id']}}</p>
{%endfor%}

{%endblock%}


